body{
    background-image: url(back.png);

}
.card {
   
    width: 1260px;
    display: flex;
    align-items: center;
    box-shadow: 4px 7px 5px gray;
    
}

h1 {
    color: orange;
    font-size: 23px;
    margin-right: auto;

}

a {
    text-decoration: none;
    margin-right: 20px;
    flex-direction: right;
    color: grey;
}

a:hover {
  color: orange; 
}

h2{
    text-align: left;
}


 .id {
    margin: auto;
    margin-top: 100px;
    padding: 28px ;
    box-shadow: 4px 7px 5px 2px  gray;
    border-radius: 10px;
     
    height: 200px;
    width: 1000px;
      }

      .id h1 {
        font-size: 21px;
      }

      .id p {
        font-size: 14px;
        text-align: left;
      }


      .text{
        padding: 25px;
        color: orange;
      }

/* Calculator */

.calculator {
  position: absolute;
  top: 155px;
  right: 7%;
  width: 465px;
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25);
}

/* Display */

#display {
    display: block;

  width: 91.3%;
  height: 90px;
  border: none;
  border-radius: 10px 10px 0 0;
  background: #898b96;
  outline: none;
  color: white;
  font-size: 30px;
  text-align: right;
  padding: 10px 20px;
}

/* Buttons */

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.buttons button {
  height: 58px;
  border: 1px solid #bcbcbc;
  background: #ddd;
  color: #333;
  font-size: 14px;
  cursor: pointer;
}

/* Orange buttons */

.buttons .orange {
  background: #ff9138;
  color: #222;
}

/* Zero button */

.buttons .zero {
  grid-column: span 2;
}

.para {
    margin: auto;
    margin-top: 100px;
    padding: 28px ;
    box-shadow: 4px 7px 5px 2px  gray;
    border-radius: 10px;
     
    height: 100px;
    width: 1000px;
      }


      .para p {
        font-size: 14px;
        text-align: center;
      }
